/* corne_left.overlay */

/* Disable the stock momentary-layer behavior by label */
&{/behaviors/momentary_layer} { status = "disabled"; };

#include "corne.dtsi"

 / {
    chosen { zmk,kscan = &kscan0; };

    /* Short, custom momentary-layer behavior */
    behaviors {
        ml: ml {
            compatible = "zmk,behavior-momentary-layer";
            label = "ML";
            #binding-cells = <1>;
        };
    };
};

/* KSCAN pin map */
&kscan0 {
    compatible = "zmk,kscan-gpio-matrix";
    diode-direction = "col2row";

    row-gpios = <
        &gpio0 10 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)
        &gpio0  9 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)
        &gpio0 24 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)
        &gpio1  0 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)
    >;

    col-gpios = <
        &gpio0 31 GPIO_ACTIVE_HIGH
        &gpio0 29 GPIO_ACTIVE_HIGH
        &gpio0  2 GPIO_ACTIVE_HIGH
        &gpio1 15 GPIO_ACTIVE_HIGH
        &gpio1 13 GPIO_ACTIVE_HIGH
        &gpio1 11 GPIO_ACTIVE_HIGH
        &gpio0  6 GPIO_ACTIVE_HIGH
        &gpio0  8 GPIO_ACTIVE_HIGH
        &gpio0 17 GPIO_ACTIVE_HIGH
        &gpio0 20 GPIO_ACTIVE_HIGH
        &gpio0 22 GPIO_ACTIVE_HIGH
    >;
};
